$primary-color: #fc9a5d; // Laranja Padrão RIFORT 
$secondary-color: #fabc96; // Laranja Claro Secundário Padrão RIFORT
$thirty-color: gainsboro; // Cinza Claro Terciário Padrão RIFORT
$background-color: #141414; // Background Cinza Escuro Padrão RIFORT
$line-500-color: #353535; // Linhas Divisórias do Site 500
$line-700-color: #2F2F2E; // Linhas Divisórias do Site 700