@import '../../../css/theme.scss';

.videoFundo, video {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    z-index: -1;
}
.videoFundo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.videoFundo h2, .videoFundo span {
    z-index: 100;
    color: $secondary-color;
    font-family: "GothamHTF-Book", sans-serif;
    position: absolute;
    opacity: 0;
    transform: translateX(-100px);
    animation: animacao 2s forwards;
    text-align: center;
    margin: 0px 20px;
}
.videoFundo video {
    opacity: 50%;
}
.box {
    height: auto;
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(59, 58, 59);
    margin: 0px 5%;
    font-size: 25pt;
    text-align: center;
    margin-top: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h2 {
    color: $primary-color;
}
.box span {
    font-size: 20pt;
    color: $thirty-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.infos .textImg img {
    width: 45%;
    margin-right: 3%;
}
.infos .aplicacao object {
    width: 48%;
    margin-left: 1.5%;
}
.infos .aplicacao span {
    width: 42%;
    margin-right: 1.5%;
}
.infos .textImg span {
    width: 45%;
    margin-left: 3%;
}
.infos .textImg span a {
    color: $primary-color;
}
.infos .textImg span a:hover {
    opacity: 70%;
}
.textImg {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.redirectAplicacao {
    width: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    text-decoration: none;
    font-style: italic;
    color: $primary-color;
    font-size: 20pt;
}
.redirectAplicacao:hover {
    cursor: pointer;
    opacity: 70%;
}
.videoFundo h2{
    margin-top: -40px;
}
.videoFundo span {
    color: bisque;
}
.box:last-child {
    border-bottom: 0px;
}
.raio {
    position: absolute;
    top: -100%;
    left: 30%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: rgb(243, 68, 14);
    animation: raio 1s linear forwards;
}
.raio2 {
    left: 70%;
}
  
  @keyframes raio {
    0% {
      top: -100%;
    }
    100% {
      top: 100%;
      opacity: 0%;
    }
  }
@media only screen and (max-width: 800px) {
    .contatoForm {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contatoForm form, .infosContato {
        width: 90%;
    }
    .infosContato {
        border: none;
    }
}
@media only screen and (max-width: 750px) {
    .textImg {
        flex-direction: column;
    }
    .infos .textImg span, .infos .textImg img {
        width: 90%;
    }
    .infos .textImg span {
        margin-top: 20px;
    }
    .videoFundo span {
        margin-top: 90px;
    }
    .videoFundo h2 {
        margin-top: 20px;
    }
    .videoFundo video {
        height: 100vh;
    }
    .infosPerfil h3 {
        margin-left: 0px;
    }
    .perfil {
        padding-bottom: 50px;
    }
    .infos .aplicacao object {
        width: 80%;
        margin-top: 30px;
    }
}
